table {
    border-collapse: collapse;
}

td, th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}