/* table {
    border-collapse: collapse;
}

td, th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
} */
reactivo.style {
    text-align: center;
    padding-top: 30px;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
}